* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f4f5f7;
  width: 100vw;
  overflow-x: hidden;
}
.border-top-manual {
  border-top: 5px solid #dee2e6 !important;
}
.border-bottom-double-manual {
  border-bottom: 3px double #dee2e6;
}
.border-bottom-manual {
  border-bottom: 5px solid #dee2e6 !important;
}
.centering-absolute {
  left: 45%;
  top: 45%;
  width: 30px;
  height: 30px;
}
p {
  margin: 0 !important;
}
.label {
  bottom: -5px;
  font-size: 11px;
}
.img-distort {
  width: 170px;
  height: 220px;
}
.img-distort-con {
  left: 110px;
  top: 10px;
}
.News {
  width: 50% !important;
}
.rad-0 {
  border-radius: 0;
}
